.recent-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  min-width: 500px;
  min-height: 340px;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin: 12px;
}

.recent-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 6px;
}

.recent-chartWrap {
  width: 100%;
  height: 340;
}
