.recent-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 400px;
  max-width: 500px;
  height: 320px;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin: 12px;
}

.recent-title {
  font-size: 16px;
  margin: 0px;
}

.recent-chartWrap {
  width: 100%;
  height: auto;
}
