.top-products__item {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  gap: 20px;
}

.top-products__item-body {
  /* display: grid;
  grid-template-columns: 180px auto auto auto;
  align-items: center;
  gap: 15px; */
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.product-img {
  height: 40px;
}

.item-title,
.item-percentage {
  font-family: 'Poppins';
  font-size: 0.9em;
  font-weight: 500;
  margin: 0;
  margin-bottom: 2px;
}

.item-qty,
.item-cost {
  font-family: 'Poppins';
  font-size: 1.1vh;
  font-weight: 300;
  margin: 0;
}

.coupon {
  font-family: 'Poppins';
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
  margin-bottom: 2px;
}

.coupon-code {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 1.2vh;
  margin: 0;
}

.country-flag {
  height: 20px;
}
