.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f7fb;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
